<% present event do |event_presenter| %>
  <li class="panel panel-default event-partial">
    <div class="panel-heading event-heading">
      <%= event_presenter.datetime %>
    </div>
    <div class="panel-body media">
      <div class="media-left">
        <%= image_tag event.game.thumb_url %>        
      </div>
      <div class="media-body">
        <h4 class="media-heading">
          <%= event.game.name %>
        </h4>
        <%= pluralize(event_presenter.remaining_seats, "seat") %> left.
        <%= event_presenter.join_or_full %>
      </div>
    </div>
    <div class="panel-footer">
      Hosted by <%= link_to event.host.name, event.host %>
    </div>
  </li>
<% end %>

